@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
	text-align:center;   /* centers all content */	
}

#wrapper {
	width:85%;
	margin:0 auto;       /* centers wrapper */
}

#feedback {
	background: #E4E5F8; /* background color */
	padding: 20px; 
    font-size: 125%;
}
