/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color: #E5C7B1;   /* background color */
	color: #173A2B;          /* text color for the entire page */
	font-family: 'Montserrat', sans-serif;
}

h1, h2 { 
	text-align:center;  /* centers h1 and h2 content */
color: #173A2B;
	font-family: 'Merriweather', serif;
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 75%;
	margin: 0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	text-align:center;
	background-color: #BB885E;
	font-weight: bold;
	font-size: 150%;
	border-radius: 50px;
 }

.stepContent{
	background-color: #FBE8D8;
	padding:5px;
	display: flex; /* creates multiple column layout */ 
	flex-wrap:wrap;
	justify-content:center;
	
}

.stepDescription {
	width:50%;
	padding:5px;
	line-height:145%;
}

.stepImage {
	width: 35%;	
	padding:5px;
text-align: center;
background-color: #E5C7B1;

}

.stepImage img {
    width:100%;
    height:auto;
}

.stepImage2 img { width: 35%; padding:5px; text-align: left; background-color: #E5C7B1;
}
.stepImage2 img {
    width:50%;
    height:auto;
}
strong {
  font-weight: 800;
}